$pale-yellow: #FFF5D6;
$bisque: #FFE4C4;
$light-gray: #F6F6F6;
$dim-gray: #696969;
$dark-silver: #707070;
$glacier: #84BFC3;
$matte-black: #1C1C1C;
$rich-black: #000511;

/* Universal styles */
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    margin: 0;
    cursor: default;
  }
  
  * {
    box-sizing: border-box;
  }

  header {  /*Style page header*/
      background-color: $rich-black;
      padding: 0.06rem;
  }

  h1 {  /*Style name of website*/
      color: white;
      font-family: 'Kameron', serif;
      margin-left: 1.56rem;
  }

  h2 {  /*Style the greeting of page*/
    color: $glacier;
    text-align: center;
    font-weight: 300;
    font-size: 1.75rem;
    position: relative;
    bottom: 300px;
    margin-left: auto;
    margin-right: auto;
}

.instruction {
    color: $dim-gray;
    text-align: center;
    position: relative;
    margin-top: 250px;
    font-size: 1.1rem;
}
.center { /*center table*/
  margin: auto;
}

table, th { /*create table outline & style*/
  border-collapse: collapse;
  border: 1px solid $dark-silver;
  text-align: center;
  color: $dark-silver;
  font-weight: 300;
  font-size: 1.2rem;
}

td {
background: $light-gray; /*color background of second row*/
}

/*Structure the size of the input boxes and give them background color*/
input {
align-items: center;
margin: 1.54rem 0.25rem;
padding: 0.3rem 0.3rem;
width: 50%;
background-color: $pale-yellow;
}

/*Style footer section*/
  footer {
      background-color: $matte-black;
      color:#fff;
      text-align: center;
      padding: 0.06rem;
      position: absolute;
      bottom: 0;
      width: 100%;
  }

  /*Responsive media query for smallest mobile screensize*/
  @media screen and (max-width: 320px) {
    
    h1 {  /*Style name of website*/
      text-align: center;
      font-size: 1rem;
    }
 
    h2 {  /*Style the greeting of page*/
      font-size: 1rem;
      bottom: 200px;
    }

    .instruction {
      margin-top: 100px;
      padding-bottom: 10px;
      font-size: 0.7rem;
    }
    
    table, th { /*create table outline & style*/
      font-size: 0.75rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-right: 1.56rem;
      padding-left: 1.56rem;
      width: 10%;
      border: 0.70px solid $dark-silver;
    }

    td {
      background: $light-gray; /*color background of second row*/
      font-size: 0.60rem;
    }
     
    /*Structure the size of the input boxes and give them background color*/
     
    #fahrenheit {
      align-items: center;
      width: 45%;
      margin: 0.813rem 0.3rem;
      padding: 0.094rem 0.3rem;
      background-color: $bisque;
      border: 0.80px solid $dark-silver;
    }
     
    #celsius {
      width: 55%;
      margin: 0.813rem 0.3rem;
      padding: 0.094rem 0.3rem;
      background-color: $bisque;
      border: 0.80px solid $dark-silver;
    }

    /*Style footer section*/
    footer {
      background-color: $matte-black;
      font-size: 0.25rem;
      padding: 0.45rem;

  }
}

/*Responsive media query for mobile screensize*/
@media screen and (min-width: 360px) and (max-width: 600px) {
 
  header {  /*Style page header*/
      background-color: $rich-black;
      padding: 0.2px;
  }

  h1 {  /*Style name of website*/
      text-align: center;
      font-size: 1.7rem;
  }

  h2 {  /*Style the greeting of page*/
    font-size: 1.35rem;
    bottom: 250px;
  }

.instruction {
  text-align: center;
  position: relative;
  margin-top: 200px;
  padding-bottom: 10px;
  font-size: 0.75rem;
}
.center { /*center table*/
  margin: auto;
}

table, th { /*create table outline & style*/
  font-size: 0.90rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 2.81rem;
  padding-left: 2.18rem;
  width: 50%;
  border: 0.80px solid $dark-silver;
}

td {
  background: $light-gray; /*color background of second row*/
  font-size: 0.80rem;
}

/*Structure the size of the input boxes and give them background color*/

#fahrenheit {
  align-items: center;
  width: 50%;
  margin: 1.125rem 0.3rem;
  padding: 0.18rem 0.3rem;
  background-color: $bisque;
  border: 0.80px solid $dark-silver;
}

#celsius {
  width: 60%;
  margin: 1.125rem 0.3rem;
  padding: 0.18rem 0.3rem;
  background-color: $bisque;
  border: 0.80px solid $dark-silver;
}

/*Style footer section*/
footer {
  padding: 0.125rem;
  font-size: 0.75rem;
}
}
